<div class="container">
  <form [formGroup]="loginForm" #myForm="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail"> Username</label>
      <input type="text" class="form-control" maxlength="50" name="name" formControlName="name" aria-describedby="emailHelp" 
      [(ngModel)]="userObj.name">
      <span *ngIf=" name?.touched" > Username  required</span>
      <span *ngIf="name?.errors?.maxLength">username should be less than 50 letters</span>
      
      </div>
    
    <div class="form-group">
      <label for="exampleInputEmail">mobile number</label>
      <input type="number" class="form-control" formControlName="mobile" name="mobile" aria-describedby="emailHelp" 
      [(ngModel)]="userObj.mobile">
      <span *ngIf=" mobile?.touched" > mobile required</span>
      <span *ngIf="mobile?.errors?.pattern">mobile number is not valid</span>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" formControlName="email" name="email" aria-describedby="emailHelp" 
      [(ngModel)]="userObj.email">
      <span *ngIf="email?.touched" > email  required</span>
      <span *ngIf="email?.errors?.pattern" > email is invalid</span>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Age</label>
      <input type="number" class="form-control" formControlName="age" name="age"
      [(ngModel)]="userObj.age" >
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">gender</label>
      <input type="text" class="form-control" formControlName="gender" name="gender"
      [(ngModel)]="userObj.gender" >
    </div>
    <button type="button" [disabled]="myForm.invalid"  class="btn btn-primary"  (click)="addUser(myForm.value)">Submit</button>
  </form>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">mobile</th>
        <th scope="col">email</th>
        <th scope="col">age</th>
        <th scope="col">gender</th>
        <th scope="col">edit</th>
        <th scope="col">delete</th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let user of allUser">
    <td>{{user.name}}</td>
    <td>{{user.mobile}}</td>
    <td>{{user.email}}</td>
    <td>{{user.age}}</td>
    <td>{{user.gender}}</td>
    <td><button (click)="editUser(user)" class="btn btn-warning">display</button></td>
    <td><button  (click)="deleteUser(user)" class="btn btn-danger">delete</button></td>

  </tr>  
    </tbody>
  </table>
</div>